.wrapper {
    width: 356px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: var(--default-layout-header-height);
    min-height: 100%;
    padding: 20px 0 80px 0;
    overflow-y: scroll;
}